<div id="add-funds-modal" class="hidden">
    <form action="/addFunds" method="POST" id="add-funds-form">
        <h3>How much funds do you want to add?</h3>
        <div>
            <label for="fundsAmount">Amount:</label>
            <input type="number" id="funds-amount" name="fundsAmount" required>
        </div>
        <button id="confirm-add-funds-btn" type="submit">Add</button>
        <button id="hide-add-funds-modal" type="button">Cancel</button>
    </form>
</div>