<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div id="create-game-container" class="hidden">
        <%# TODO: this should only show when user is signed in %>
        <%# only showing so developing is easier since it signs out when i refresh %>
        <form action="/games/create" method="POST">
          <a href="#" id="hide-create-form">x</a>
          <div>
            <label for="game-name">Game Name:</label>
            <input
              type="text"
              id="game-name"
              name="gameName"
              placeholder="Enter game name"
              required
            />
          </div>
          <!-- adjust form inputs and labels based on our own game table fields-->
          <div>
            <label for="game-min-players">Min Players:</label>
            <input
              type="number"
              id="game-min-players"
              name="gameMinPlayers"
              min="2"
              max="4"
              required
            />
          </div>
    
          <div>
            <label for="game-max-players">Max Players:</label>
            <input
              type="number"
              id="game-max-players"
              name="gameMaxPlayers"
              min="2"
              max="4"
              required
            />
          </div>
          <!-- <div>
            <label for="game-buy-in">Buy in:</label>
            <input
              type="number"
              id="game-buy-in"
              name="gameBuyIn"
              min="1"
              required
            /> -->
          <!-- should maybe make this optional -->
          <div>
            <label for="password">Password:</label>
            <input
              type="text"
              id="password"
              name="gamePassword"
              placeholder="Enter password"
            />
          </div>
          <button type="submit" value="Create Game">Create Game </button>
        </form>
      </div>
</body>
</html>