<div id="leave-game-modal" class="hidden">
    <h3>Are you sure you want to leave this game?</h1>
    <form action="/games/leave" method="POST">
        <!-- uncomment this later  -->
        <!-- <input type="hidden" name="gameId" value="<%= gameId %>" />  -->
        <button id="confirm-leave-btn" type="submit">Yes</button>
        <button id="cancel-leave-btn" type="button">No</button>
    </form>
</div>